<%= form_for(@assigment) do |f| %>
  <% if @assigment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assigment.errors.count, "error") %> prohibited this assigment from being saved:</h2>

      <ul>
      <% @assigment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :class %><br>
    <%= f.text_field :class %>
  </div>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
